DATABASE_URL=postgresql://postgres:postgres@postgres:5432/evolution
JWT_SECRET_KEY=supersecret
EVOLUTION_API_URL=https://evolution-api-production-58c5b.up.railway.app
EVOLUTION_API_KEY=76aabb909d979783471de3b9e3d52348